{% extends "detail_statistika.html" %}

{% block title %}{% endblock title %}

{% block css_files %}{% endblock css_files %}

{% block content %}



<div class="menu">
    <ul>
        <li><button><a href="javascript:history.back()">ZPĚT</a></button></li>
        <li><button><a href="/">Zpět na hlavní stranu</a></button></li>
        <li><button><a href="pepa_full_tym">Detail hráčů</a></button></li>
        <li><button><a href="pepa_leaderboard">Žebříček</a></button></li>
        <li><button><a href="pepa_detail_statistika">Detailní statistika</a></button></li>
        <li><button><a href="pepa_jednotlive_dny">Výsledky za jednotlivé dny</a></button></li>
        <li><button><a href="{% url "pepa_main_page" %}">Zpět na přehled avatara</a></button></li>
    </ul>
</div>
{% endblock content %}

